@{
    ViewData["Title"] = "Create";
}

<div class="container mt-4">
    <h4>New item</h4>
    <hr />
    <div class="row">
        <div class="col-12">
            <form id="createItemForm" onsubmit="createNewItem()">
                <partial name="_EditOrCreateItemForm" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById("createItemForm").addEventListener("submit", function (e) {
            e.preventDefault();
        }, true);
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
