@model WebShop.Model.Item

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-2">
    <h4>Edit item</h4>
    <hr />
    <div class="row">
        <div class="col-12">
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <partial name="_EditOrCreateItemForm" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
