@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-2">
    <h4>Edit item</h4>
    <hr />
    <div class="row">
        <div class="col-12">
            <form id="editItemForm" onsubmit="editItem()">
                <partial name="_EditOrCreateItemForm" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById("editItemForm").addEventListener("submit", function (e) {
            e.preventDefault();
        }, true);
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
