a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

.cursor-pointer {
    cursor: pointer;
}

.shrink {
    transition: all .2s ease-in-out;
}

.select-none {
    user-select: none;
}

.shrink:hover {
    transform: scale(0.95);
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
}

.pill-bg {
    background-color: grey;
    color: white;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.border-shaded {
    border: 1px solid #e6e6e6;
}

.grid {
    display: grid;
    grid-column-gap: 0.75em;
    grid-row-gap: 0.75em;
}

.grid-cols {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.item-card {
    padding: 2em;
    background-color: white;
    border-top: 12px solid #3399ff;
}

@media only screen and (max-width: 768px) {
    .grid-cols {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.hero-graphics-card {
    background-image: url("https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/ampere/rtx-3070/geforce-rtx-3070-hero-background-image-spec2-bb770_550-d@2x.jpg");
    background-size: cover;
    height: 700px;
}
