@model WebShop.Web.ViewModels.HomeViewModel
@using Microsoft.AspNetCore.Identity
@using WebShop.Model

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Home";
}

<div class="hero-graphics-card justify-content-center d-flex flex-column">
    <div class="row ml-5">
        <div class="col-lg-4 col-md-6 col-12">
            <h3 class="text-white">We have the best discounts and merchandise!</h3>
            <p>GEFORCE RTX 3070</p>
            <p>
                The GeForce RTX™ 3070 is powered by Ampere—NVIDIA’s 2nd gen RTX architecture. Built with enhanced Ray Tracing Cores and Tensor Cores, new streaming multiprocessors, and high-speed G6 memory, it gives you the power you need to rip through the most demanding games.
            </p>
            @if (SignInManager.IsSignedIn(User))
            {
                <a class='btn btn-info' asp-controller="Items" asp-action="Grid">See all our buying products</a>
            }
            else
            {
                <a class='btn btn-info' asp-area="Identity" asp-page="/Account/Login">See all our buying products</a>
            }
        </div>
    </div>
</div>
@if (SignInManager.IsSignedIn(User))
{
    <h3 class="text-center my-5">Some of our products...</h3>
    <div class="grid-cols grid container">
        @foreach (var item in Model.Items)
        {
            <item-card item="@item">
                <tag-pill-collection text-collection="item.Tags.Select(x => x.Description).ToList()"></tag-pill-collection>
            </item-card>
        }
    </div>
}