@model WebShop.Web.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<h3 class="text-center">We have the best discounts and merchandise!</h3>
<div class="grid-cols grid mt-4">
    @foreach (var item in Model.Items)
    {
        <item-card item="@item"> </item-card>
    }
</div>