@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="container mt-5 text-center">
    <img class="rounded" src="https://s22.postimg.cc/fof45l9mp/image.jpg" alt="" />
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
